# Build y artefactos de Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Configuraciones específicas de IDEs

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Archivos específicos del sistema operativo
### Mac OS ###
.DS_Store

# Archivos sensibles y configuración privada
### Sensitive configuration files ###
# Ignorar toda la carpeta resources
src/main/resources/
# Especificar los archivos sensibles dentro de resources
src/main/resources/hibernate.cfg.xml
src/main/resources/application.properties
src/main/resources/*.yml
cfg.xml