<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestion_almacen</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">5794</property>

        <!-- Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
       <!-- <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property> -->
        <property name="hibernate.current_session_context_class">thread</property>



        <!-- Schema generation -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--Mapping-->
        <mapping class="com.example.entity.Almacen"/>
        <mapping class="com.example.entity.Empleado"/>
        <mapping class="com.example.entity.Producto"/>
        <mapping class="com.example.entity.Ubicacion"/>

    </session-factory>
</hibernate-configuration>